<html>
<head>
  <link rel="stylesheet" href="microphone/microphone.css">
  <link rel='stylesheet' href='css/bootstrap.min.css'>
  <link rel='stylesheet' href='css/style.css'>

</head>
<body style="text-align: center; margin: 40px 0;" >

  <div class='well'>
    <div class="body">
      <div class="alert alert-danger error" role="alert"></div>

    </div>

    <center><div id="microphone"></div></center>
    <div id="result"></div>
    <div id="info"></div>
  </div>

  <div class="container">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Sample queries:</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">"Who is the thirteenth president of the United States?"</li>
        <li class="list-group-item">"When can I get a ride?"</li>
        <li class="list-group-item">"Calculate the derivative of 3x squared."</li>
        <li class="list-group-item">"Shots fired."</li>
      </ul>
    </div>
  </div>

  <script id='uber-template' type='text/x-handlebars-template'>
    {% raw %}
    <ul class="list-group">
      {{#each collection}}
      <li class="list-group-item"><span class="badge pull-right">{{time}}</span>{{ride}}</li>
      {{/each}}
    </ul>
    {% endraw %}
  </script>

  <script id='shots-fired-template' type='text/x-handlebars-template'>
    <div class="width700">
      <p>Pew Pew.</p>
    </div>
 </script>

 <script id='search-template' type='text/x-handlebars-template'>
  {% raw %}
  <div class="panel panel-default">
    <div class="panel-body">
      {{text}}
    </div>
  </div>
  {% endraw %}
</script>

<script src="microphone/microphone.js"></script>
<script src="js/libs/jquery-2.1.1.js"></script>
<script src="js/libs/underscore-min.js"></script>
<script src="js/libs/backbone-min.js"></script>
<script src="js/libs/handlebars.js"></script>
<script src='js/libs/bootstrap.min.js'></script>

<script src="js/remind.js"></script>
<script src="js/shots_fired.js"></script>
<script src="js/uber_get_ride.js"></script>
<script src="js/main.js"></script>

</body>
</html>
