<html>
<head>
  <link rel="stylesheet" href="microphone/microphone.css">

</head>
<body style="text-align: center;" class="container">
  <script type="text/template" id='mic-template'>
    <center><div id="microphone"></div></center>
    <pre id="result"></pre>
    <pre id="msgBody"></pre>

    <div id="info"></div>
  </script>

  <script src="microphone/microphone.js"></script>
  <script src="js/libs/jquery-2.1.1.js"></script>
  <script src="js/libs/underscore-min.js"></script>
  <script src="js/libs/backbone-min.js"></script>

  <script src="js/remind.js"></script>
  <script src="js/shots_fired.js"></script>
  <script src="js/uber_get_ride.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
